 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

 strong {
    font-family: 'Roboto', sans-serif;
    font-style: Bold;
    font-size: 20px
 }
 body {
    margin: 0;
 }

 .pages {
	margin-bottom: 200px;
    font-family: 'Roboto', sans-serif;
    font-style: Bold;
    font-size: 20px
 }

 .navbar {
     margin: 0;
     background-color: #1B2C35;
     height: 61px;
 }

 a.logo {
    font-family: 'Rancho', cursive;
    font-size: 30px;
    color: #F2F2F2 !important;
    line-height: 61px;
 }

body,.menu{
	margin:0; 
	padding:0; 	
	font-family: 'Open Sans Condensed', sans-serif;
}
#barMenu{
	position:fixed; 
	top:2%; 
	right:5%; 
	cursor:pointer;
	height:30px;
	width:30px;
	display:flex;
	flex-direction:column;
	justify-content:space-around;
    display:none;
    color: #F2F2F2;
}
#barMenu span{
	border:2px solid; 
}
input#openMenu{
	display:none;
}
.mainMenu{
	border-bottom:1px solid #ccc;
	box-shadow:0 0 3px 5px #ececec;
}
.menu{
	list-style-type:none;
	width:70%; 
	margin:auto;	
}
.menu li{
	float:left;	
	width:15%;
	text-align:center;
	padding:2%;

}
.menu li a{
	text-decoration:none;
	color:#000;
	display:block;
	padding:2%;	
}
.clear{
	clear:both;
}
/*media queries*/
@media screen and (max-width:700px){
	#barMenu{
		display:flex; /*pas display block !!! */
	}
	.menu{
		width:100%;
	}
	.menu li{
		width:100%;
		padding:0;
	}
	input:checked ~ .mainMenu{
		display:none;
	}
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 1rem;
  background-color: #1B2C35;
  text-align: center;
}

a.footer-list {
    color: white;
    text-decoration: none;
    list-style-type: none;
}

.footer-list {
	list-style-type: none;
}

.container-background {
    background-size: 100%;
    width: auto;
	min-height: 275px;
}
.cactus {
	background-image: url(cactus.jpg);
}

.display-3 {
	color: #C15F25;
	height: 30%;
	font-size: 120%;
	font-style: bold;
	padding-top: 15%;
	padding-bottom: 15%;
}

.container {
	padding-top: 20px;
	padding-bottom: 20px;
}

.button {
	padding-top: 20px;
	padding-bottom: 20px;	
}

.thumbnail img {
	width:300px;
	height:100%;
	padding-top: 15px;
}

button.btn {
	margin-right: 20%;
	text-decoration: none !important;
	color: white;
}

th {
	font-size: small;
}

td {
	font-size: small;
}

.img-circle {
	border-radius: 50%;
	height: 50px;
	width: auto;
}