<div class="container">
    <h1 class="text-center"><small>Your Review on </small> <br><%= @listing.title %></h1>

    <%= render 'form', review: @review %>

    <%= link_to 'Back', listing_path(@listing) %>
</div>
