<nav class=navbar>
    <div class=logo> <%= link_to 'Divvy', home_index_path, :class => "logo" %> </div>
</nav>
<label for="openMenu" id="barMenu">
        <span></span>
        <span></span>
        <span></span>
    </label>
    <input type="checkbox" id="openMenu" checked>
    <nav class="mainMenu">
        <ul class="menu">
            <li><a href="#">Favourites</a></li>
            <li><a href="#">Messages</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="/support">Support</a></li>
            <li><a href="#">Register</a></li>
            <li><a href="#">Login</a></li>
            <div class="clear"></div>
        </ul>		
    </nav>