<!DOCTYPE html>
<html>
  <head>
    <title>Divvy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Rancho" rel="stylesheet">
  </head>

  <body>
    <nav class=navbar>
      <strong class=logo> Divvy </strong>
    </nav>
    <label for="openMenu" id="barMenu">
			<span></span>
			<span></span>
			<span></span>
		</label>
		<input type="checkbox" id="openMenu" checked>
		<nav class="mainMenu">
			<ul class="menu">
				<li><a href="#">Favourites</a></li>
				<li><a href="#">Messages</a></li>
				<li><a href="#">Profile</a></li>
				<li><a href="#">Support</a></li>
				<li><a href="#">Register</a></li>
				<li><a href="#">Login</a></li>
				<div class="clear"></div>
			</ul>		
		</nav>
		<div class="content"></div>
    <%= yield %>
    <div class="footer">
      <ul>
        <li class="footer-list"><a href="#">About Us</a></li>
        <li class="footer-list"><a href="#">Terms and Conditions</a></li>
        <li class="footer-list"><a href="#">Contact Us</a></li>
      </ul>
    </div>
  </body>
</html>
